<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>18/09/07 23:35:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC004_MergeLead@32be31]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/09/07 23:35:03</td>   <td>-47040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_MergeLead@32be31]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/07 23:35:15</td>   <td>-34653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_MergeLead.mergeLead()[pri:0, instance:tests.TC004_MergeLead@32be31]">mergeLead</td> 
  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/07 23:35:03</td>   <td>-47056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC004_MergeLead.setData()[pri:0, instance:tests.TC004_MergeLead@32be31]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/07 23:35:02</td>   <td>-47931</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC004_MergeLead@32be31]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/07 23:35:03</td>   <td>-47040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC004_MergeLead@32be31]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/07 23:35:51</td>   <td>759</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC004_MergeLead@32be31]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33317023</td>   <td></td> </tr>
</table>
